	/*
	AUBIH
	Style page

	Copyright (c) 2015 AUBIH
	71000, Sarajevo
	Bosnia and Hercegovina
	+387.63.697.680
	http://http://aubih.edu.ba/
	info@aubih.edu.ba/

	This program is copyrighted; you can't redistribute it and/or
	modify it under any circumstances.
	All rights reserved.

	Revision
	No.		User					Date			Description
	=================================================================================================================
	1.		Dragomir Vučković		19.10.2015		Creation of style page
*/
	/*===========================================
	Body, html and generals
===========================================*/

	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	and,
	address,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video,
	input,
	textarea,
	select {
		background: transparent;
		border: 0;
		font-size: 100%;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
	}

	body {
		margin: 0;
		width: 100%;
		font-weight: normal;
		font-size: 12px;
		background: #FFF;
		color: #000;
		overflow-x: hidden;
	}

	body,
	html {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	/* Box sizing */

	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	/* Fonts */

	body,
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=tel],
	input.text,
	textarea,
	input[type=submit],
	.mobile-menu,
	h4.border-title,
	.location h4,
	.button.ico,
	blockquote:before {
		font-family: 'Open Sans', sans-serif;
	}
	/* Headings */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
	}
	/* Paragraf */

	p {
		margin-bottom: 15px;
	}

	p b {
		color: #f80000;
	}

	b {
		color: #f80000;
	}

	.img-right {
		display: block;
		float: right;
		margin: 0 0 0 20px;
		height: auto;
	}

	.img-left {
		display: block;
		float: left;
		margin-right: 20px;
		padding-bottom: 20px;
	}
	/* Clear float elements*/

	.clear {
		clear: both;
	}
	/* Links */

	.a-link {
		cursor: pointer;
	}

	.a-link:hover {
		text-decoration: underline;
	}
	/* Tables */

	table {
		border-collapse: collapse;
		border: 1px solid #CCC;
	}

	td+td,
	th+th {
		border-left: 1px solid #CCC;
	}

	tr+tr {
		border-top: 1px solid #CCC;
	}

	table td,
	table th {
		padding: 7px;
		vertical-align: middle;
	}

	table th {
		text-align: center;
		color: #FFF;
		background: #F84346;
		font-weight: bold;
	}

	table td {
		text-align: left;
	}

	table td.tdleft {
		text-align: left !important;
	}

	table td.tdright {
		text-align: right !important;
	}

	table th.tdright {
		text-align: right !important;
	}

	table.tcenter td {
		text-align: center;
	}
	/* Bullets */

	ol {
		counter-reset: foo;
		display: table;
		margin-bottom: 10px;
	}

	ol.padding {
		padding-left: 20px;
	}

	ol>li {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-increment: foo;
		display: table-row;
	}

	ol>li::before {
		content: "\2022";
		display: table-cell;
		text-align: right;
		padding-right: .3em;
	}
	/*===========================================
	Inputs
===========================================*/

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	textarea {
		width: 100%;
		background: #FFF;
		border: 1px solid #999;
		border-radius: 5px;
		color: #000;
		padding: 10px;
		margin-bottom: 10px;
		display: block;
		font-size: 12px;
	}

	.button {
		background: #f80000;
		color: #FFF;
		text-transform: capitalize;
		margin: 0;
		font-size: 14px;
		padding: 11px 20px;
		border: 1px solid #999;
		text-align: center;
		cursor: pointer;
		border-radius: 5px;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.button:hover {
		color: #FFF;
		background: #e80d0d;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.select-normal {
		width: 100%;
		background: #FFF;
		border: 1px solid #999;
		border-radius: 5px;
		color: #000;
		padding: 10px;
		margin-bottom: 10px;
		display: block;
		font-size: 12px;
	}

	.select-style {
		padding: 0;
		margin: 0 0 0 20px;
		border: 1px solid #ccc;
		width: 140px;
		border-radius: 3px;
		overflow: hidden;
		background-color: #fff;
		background: #FFF url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
	}

	.select-style select {
		padding: 0px 8px;
		width: 100%;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		color: #000;
	}

	.select-style select:focus {
		outline: none;
	}
	/*===========================================
	Loader
===========================================*/
	/*#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 16777270;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 16777271;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222222;
	z-index: 16777270;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
	left: 0;
}
#loader-wrapper .loader-section.section-right {
	right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}
.no-js #loader-wrapper {
	display: none;
}
.progress{
	background-color: rgba(255, 64, 129, 0.22);
}*/
	/* Loader */

	.loading-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 16777270;
		background: #143960;
	}

	.loading {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -60px 0 0 -60px;
		background: #fff;
		width: 100px;
		height: 100px;
		border-radius: 100%;
		border: 10px solid #143960;
	}

	.loading:after {
		content: '';
		background: trasparent;
		width: 140%;
		height: 140%;
		position: absolute;
		border-radius: 100%;
		top: -20%;
		left: -20%;
		opacity: 0.7;
		box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
		animation: rotate 2s infinite linear;
	}

	@keyframes rotate {
		0% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}

	.loaded .loading {
		opacity: 0;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.loaded .loading-wrapper {
		visibility: hidden;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.no-js .loading-wrapper {
		display: none;
	}
	/*===========================================
	Header
===========================================*/

	header#header-main {
		position: relative;
		width: 100%;
		height: 64px;
		z-index: 99991;
	}

	#header-blue {
		width: 100%;
		padding: 5px 0 5px 0;
		background: #143960;
	}

	#header-social {
		max-width: 1078px;
		margin: 0 auto;
		height: auto;
		color: #FFF;
		font-size: 12px;
	}

	#header-social #header-share {
		height: auto;
		margin-top: 2px;
		float: left;
	}

	#header-social #header-follow {
		height: auto;
		margin-top: 2px;
		float: right;
	}

	#header-social #header-language {
		float: right;
	}

	.header-social-icon {
		display: block;
		width: 12px;
		height: 12px;
		margin: 3px 0 0 8px;
		float: left;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		cursor: pointer;
	}

	.header-social-icon:hover {
		opacity: 0.6;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.facebook {
		background-image: url(../images/social/facebook.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.twitter {
		background-image: url(../images/social/twitter.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.instagram {
		background-image: url(../images/social/instagram.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.google {
		background-image: url(../images/social/google.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.linkedin {
		background-image: url(../images/social/linkedin.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.youtube {
		background-image: url(../images/social/youtube.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	/*===========================================
	Main content
===========================================*/

	#main-content {
		position: static;
		top: 66px;
		right: 0;
		left: 0;
		/*overflow: hidden;*/
		/*background-image: url(../images/main-image.jpg);*/
	}

	#home-section {
		background-image: url(../images/main-image.jpg);
		background-size: cover;
		height: 100vh;
	}
	/*===========================================
	Home
===========================================*/

	#main-content-wraper {
		position: relative;
		width: 2000em;
		height: 100%;
		z-index: 99990;
	}

	#main-content-wraper-100 {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 99990;
	}

	#main-content-wraper-single {
		position: relative;
		height: calc(100% - 189px);
		overflow-y: auto;
	}

	.content-box,
	.slide-box {
		position: relative;
		height: 100%;
		float: left;
	}

	.logo-blue {
		position: fixed;
		top: 80px;
		width: 40%;
		height: 60px;
		min-width: 22%;
		background: url(../images/favicon/page-title.jpg) no-repeat;
		background-size: cover;
		cursor: pointer;
		z-index: 99992;
	}

	.logo-blue img {
		width: 298px;
		height: 56px;
		margin-right: 20px;
		margin-top: 2px;
		float: right;
	}

	.download-brochure {
		position: fixed;
		top: 90px;
		right: 50px;
		width: 200px;
		background-color: #ff0000;
		text-align: center;
		padding: 8px 0 8px;
		font-size: 16px;
		color: #FFF;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.learn-more {
		position: fixed;
		top: 50%;
		right: 0;
		margin-top: -69px;
		width: 25px;
		height: 138px;
		background: url(../images/home/learn-more.png) no-repeat;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.home-back {
		position: fixed;
		top: 50%;
		left: 0;
		margin-top: -69px;
		width: 25px;
		height: 138px;
		background: url(../images/home/back.png) no-repeat;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.home-online {
		position: absolute;
		top: 150px;
		right: 50px;
		width: 150px;
		height: 150px;
		background: url(../images/home/online.png) no-repeat;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.home-online-video {
		position: absolute;
		bottom: 200px;
		right: 0px;
		width: 418px;
		height: 130px;
		background: url(../modules/docs/gallery/online/lms-video.png) no-repeat;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.download-brochure:hover,
	.learn-more:hover,
	.home-back:hover,
	.home-online:hover,
	.home-online-video:hover {
		opacity: .7;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.dayton-title {
		position: absolute;
		bottom: 80px;
		left: 50px;
		right: 50px;
		margin-top: -100px;
		width: auto;
		height: auto;
		font-size: 28px;
		color: #FFF;
	}

	.dayton-title span {
		display: inline-block;
		font-size: 18px;
		line-height: 22px;
	}

	.dayton-more {
		position: absolute;
		bottom: 100px;
		right: 50px;
		background-color: #ff0000;
		padding: 10px;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	.bottom-button-transparent {
		position: absolute;
		bottom: 170px;
		right: 100px;
		padding: 10px;
		cursor: pointer;
		color: #FFF;
		font-weight: bold;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}
	/*===========================================
	 News
===========================================*/

	.home-news-content {
		position: fixed;
		bottom: -375px;
		left: 0;
		width: 100%;
		height: 400px;
		z-index: 99991;
	}

	#home-news-bt {
		width: 138px;
		height: 25px;
		background: url(../images/home/news.png) no-repeat;
		margin: 0 auto;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		cursor: pointer;
	}

	#home-news-bt:hover {
		opacity: .7;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	#news_tabs_container {
		max-width: 1024px;
		text-align: center;
		margin-bottom: 15px;
		margin: 0 auto;
		background: #FFF;
		opacity: .95;
		color: #000;
	}

	#news_tabs_inner {
		display: inline-block;
		margin: 15px 0 10px;
	}

	#news_tabs {
		width: auto;
		height: auto;
	}

	#news_tabs .news_tab {
		display: inline-block;
		padding: 10px;
		margin: 0;
		color: #000;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		float: left;
	}

	#news_tabs .active,
	#news_tabs .news_tab:hover {
		color: #FFF;
		background: #1C355E;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	#news_container {
		max-width: 1024px;
		margin: 0 auto;
		color: #000;
		overflow: hidden;
	}

	#news_inner {
		position: relative;
		min-height: 200px;
		overflow: hidden;
		background: #FFF;
		opacity: .95;
		padding: 0 60px 0 60px;
	}

	.multi_news_inner {
		margin: 0 !important;
		min-height: 200px !important;
	}

	#news_inner>div>.tab-pane {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-bottom: 30px;
	}

	.tab-pane>ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.tab-pane>ul>li {
		float: left;
		border-right: 6px solid #FFF;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-position: center top;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}

	.tab-pane>ul>li>a {
		display: block;
		max-width: 100%;
		height: auto !important;
	}

	.tab-pane>ul>li>a>.tab-pane-content {
		display: block;
		width: 100%;
		height: 200px;
		margin-right: 10px 10px 10px 0;
		white-space: normal;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		cursor: pointer;
	}

	.tab-pane.multi-tab-pane>ul>li>a>.tab-pane-content {
		height: 200px !important;
	}

	.tab-pane a>.tab-pane-content {
		position: relative;
	}

	.tab-pane a>.tab-pane-content .news-date {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 20px 10px 20px;
		background: url(../images/news/news-white.png);
		color: #1C355E;
	}

	.tab-pane a>.tab-pane-content .news-date span {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.tab-pane a>.tab-pane-content .news-date>span+span {
		font-size: 12px !important;
	}

	.tab-pane a>.tab-pane-content .news-title {
		position: absolute;
		left: 60px;
		right: 0;
		bottom: 20px;
		padding: 10px 20px 10px 20px;
		background: url(../images/news/news-white.png);
		color: #1C355E;
		text-align: right;
		font-size: 14px;
	}

	.nloading {
		display: none;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 100000;
		background: #FFF;
	}

	.nloading img {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 100099;
		margin-top: -22px;
		margin-left: -22px;
	}

	.tab-pane-control-prev,
	.tab-pane-control-next {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		width: 13px;
		height: 25px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}

	.tab-pane-control-prev {
		left: 20px;
		background: url(../images/news/left-arrow.png) no-repeat;
	}

	.tab-pane-control-next {
		right: 20px;
		background: url(../images/news/right-arrow.png) no-repeat;
	}

	.tab-pane-pagination {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		margin: 0;
		z-index: 99991;
	}

	.tab-pane-pagination a {
		text-decoration: none;
		display: inline-block;
		font-size: 11px;
		height: 15px;
		width: 15px;
		line-height: 15px;
		background: #1C355E;
		color: #4E443C;
		border-radius: 15px;
		text-indent: -9999px;
		margin-right: 10px;
		-webkit-box-shadow: 0 0 2px #4E443C;
		-moz-box-shadow: 0 0 2px #4E443C;
		box-shadow: 0 0 2px #4E443C;
	}

	.tab-pane-pagination a.active {
		background: #640C0D;
		color: #fff;
		opacity: 1;
		-webkit-box-shadow: 0 0 2px #F0EFE7;
		-moz-box-shadow: 0 0 2px #F0EFE7;
		box-shadow: 0 0 2px #F0EFE7;
	}
	/*===========================================
	 Footer
===========================================*/

	.footer-content {
		width: 100%;
		height: 75px;
		background: #113053;
	}

	.footer-top {
		position: static;
		left: 0;
		bottom: 0;
		z-index: 99991;
	}

	.footer-inner {
		max-width: 1024px;
		height: 75px;
		margin: 0 auto;
		color: #FFF;
	}

	.footer-box-left {
		margin: 10px 20px 10px 0;
		float: left;
	}

	.footer-box-left a {
		color: #FFF;
	}

	.footer-box-left a:hover,
	.footer-box-left a:active,
	.footer-box-left a:visited,
	.footer-box-left a:focus {
		color: #FFF;
	}

	.footer-box-right {
		width: 60px;
		height: 60px;
		margin-top: 8px;
		background: url(../images/favicon/favicon.png) no-repeat;
		background-size: cover;
		float: right;
	}
	/*===========================================
	 College
===========================================*/

	.c-content {
		position: absolute;
		width: 900px;
		top: 50%;
		left: 50%;
		margin: -188px 0 0 -450px;
	}

	.c-inner {
		display: inline-block;
	}

	.c-inner .col4 {
		display: inline-block;
		position: relative;
		width: 25%;
		padding: 0;
		margin: 0;
		float: left;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	.c-inner .col4 a {
		display: inline-block;
		position: relative;
	}

	.img-size {
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		margin: 0;
		vertical-align: bottom;
	}

	.img-text {
		position: absolute;
		width: 70%;
		height: auto;
		bottom: 20px;
		right: 30px;
		padding: 0;
		margin: 0;
	}

	.c-text {
		position: absolute;
		display: block;
		width: 85%;
		height: auto;
		bottom: 20px;
		right: 30px;
		padding: 0;
		margin: 0;
		font-size: 14px;
		color: #FFF;
		text-align: right;
		line-height: 20px;
	}

	.c-text-sub {
		font-size: 25px;
		text-align: right;
		line-height: 25px;
	}

	.c-text-sub1 {
		font-size: 18px;
		text-align: right;
		line-height: 25px;
	}
	/*===========================================
	 Center
===========================================*/

	.cen-content {
		position: absolute;
		width: 900px;
		top: 50%;
		left: 50%;
		margin: -188px 0 0 -450px;
	}

	.img-img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
	/*===========================================
	 Top page
===========================================*/

	.page-title-content {
		position: static;
		top: 80px;
		/*width: 40%;*/
		min-width: 22%;
		height: 60px;
		background: url(../images/favicon/page-title.jpg) no-repeat;
		margin-top: 12px;
		background-size: cover;
		z-index: 99991;
		display: inline-block;
	}

	.page-title-content .logo {
		width: 56px;
		height: 56px;
		margin: 2px;
		cursor: pointer;
		float: right;
	}

	.page-title-content .title {
		margin: 15px 40px 0 40px;
		text-align: left;
		font-size: 20px;
		font-weight: 550;
		color: #FFF;
		float: right;
	}

	.header-blue-content {
		/*position: absolute;*/
		width: 100%;
		height: 74px;
		background: url(../images/home/header-blue.png) repeat;
		z-index: 99991;
	}

	.header-blue-content-absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 74px;
		background: url(../images/home/header-blue.png) repeat;
		z-index: 99991;
	}
	/*===========================================
	 Slider
===========================================*/

	#slider {
		position: relative;
		height: 100%;
		top: -114px;
	}

	.slider {
		position: absolute;
		z-index: 1
	}

	#slider-video {
		position: fixed;
		top: 0px;
		right: 0;
		bottom: -100px;
		left: 0;
		overflow: hidden;
		z-index: -1000;
		background-color: #FFF;
	}

	#slider-video-home {
		position: fixed;
		top: -78px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -1000;
		background-color: #FFF;
	}

	.slider-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1000;
		background-color: #FFF;
	}

	.video-standard {
		width: 100%;
		height: auto;
	}
	/*===========================================
	 Single
===========================================*/

	.single {
		width: 1120px;
		max-width: 1120px;
		margin: 0 auto;
	}

	.single .left {
		width: 250px;
		margin: 65px 0 10px;
		float: left;
	}

	.single .right {
		width: 150px;
		margin: 102px 0 10px;
		float: left;
	}

	.single .middle {
		width: 680px;
		margin: 0 20px 10px 20px;
		float: left;
	}

	.breadcrumbs {
		width: 100%;
		padding: 10px 10px 10px 0;
	}

	.short-menu ul {
		width: 100%;
		list-style: none;
	}

	.short-menu ul li {
		width: 100%;
		padding: 10px 0 5px 5px;
		border-bottom: 1px solid #e1e1e1;
		color: #4490c8;
	}

	.short-menu ul li:last-child {
		border-bottom: none;
	}

	.short-menu ul li.active {
		font-size: 16px;
		color: #9a9a9a;
	}

	.single_title {
		font-size: 28px;
		color: #f80000;
		margin: 20px 0 20px 0;
		padding-bottom: 5px;
		border-bottom: 1px solid #e1e1e1;
	}

	.member_title {
		display: none;
		font-size: 20px;
		color: #f80000;
		margin: 20px 0 20px 0;
		padding-bottom: 5px;
	}

	.single_title span {
		font-size: 18px;
		color: #4490c8;
		margin: 20px 0 20px 0;
		padding-bottom: 5px;
	}

	.single_content {
		text-align: justify;
	}

	.single_subtitle {
		font-size: 18px;
		color: #f80000;
	}

	.docs {
		margin-bottom: 10px;
	}

	.docs span {
		display: inline-block;
		padding: 8px 0 10px 40px;
		background: url(../images/favicon/file.png) left center no-repeat;
		cursor: pointer;
	}

	.docs span:hover {
		color: #4490c8;
		text-decoration: underline;
	}
	/*===========================================
	 Right content
===========================================*/

	.single .right img {
		width: 100%;
		height: auto;
	}

	.single .right .title1 {
		width: 100%;
		padding: 10px 0 0 0;
		font-size: 18px;
		color: #666;
	}

	.single .right .title2 {
		width: 100%;
		font-size: 14px;
		color: #666;
	}

	.single .right .separator {
		width: 100%;
		height: 1px;
		margin: 5px 0 5px 0;
		background: #e1e1e1;
	}

	.single .right .text {
		width: 100%;
		color: #4490c8;
		line-height: 1.7;
	}

	.single .right .see-more {
		width: 100%;
		margin: 8px 0 8px 0;
		padding-bottom: 3px;
		border-bottom: 1px solid #e1e1e1;
		color: #4490c8;
		font-style: italic;
		text-align: right;
	}

	.single .right a.button {
		display: block;
		width: 100%;
		margin-top: 15px;
		text-decoration: none;
	}
	/*===========================================
	Masonry
===========================================*/

	.masonry_grid {
		margin-top: 10px;
	}

	.masonry_grid figure {
		width: 24.4%;
		height: auto;
		opacity: 1;
		background: #fefefe;
		border: 1px solid #999;
		margin: 0 3px 3px;
		padding: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	.masonry_grid.news figure {
		width: 32.7%;
		height: auto;
		opacity: 1;
		background: #fefefe;
		border: none;
		margin: 0 3px 3px;
		padding: 0;
		padding-bottom: 0;
		cursor: pointer;
	}

	.masonry_grid.gallery figure {
		width: 32.5%;
		height: auto;
		opacity: 1;
		background: #fefefe;
		border: none;
		margin: 0 3px 3px;
		padding: 0;
		padding-bottom: 0;
		cursor: pointer;
	}

	.masonry_grid figure a {
		text-decoration: none;
	}

	.masonry_grid figure img {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	.masonry_grid.news figure img,
	.masonry_grid.gallery figure img {
		width: 100%;
		height: auto;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.masonry_grid figure figcaption {
		font-size: 14px;
		color: #444;
		line-height: 1.5;
	}

	.masonry_grid figure .news-date {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 20px 8px 20px;
		background: url(../images/news/news-white.png);
		color: #1C355E;
	}

	.masonry_grid figure .news-date span {
		display: block;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
	}

	.masonry_grid figure .news-date>span+span {
		font-size: 12px !important;
	}

	.masonry_grid figure:hover a figcaption {
		text-decoration: underline;
	}
	/*===========================================
	Responsive
===========================================*/

	@media only screen and (max-width: 1200px) {
		.c-content {
			position: absolute;
			width: calc(100% - 20px);
			top: 50%;
			left: 0;
			margin: -160px 0 0 10px;
		}
		.c-inner .col4 {
			display: inline-block;
			position: relative;
			width: 25%;
			padding: 0;
			margin: 0;
			float: left;
			-webkit-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
		.img-text {
			position: absolute;
			width: 50%;
			height: auto;
			bottom: 20px;
			right: 30px;
			padding: 0;
			margin: 0;
		}
		.cen-content {
			position: absolute;
			width: calc(100% - 20px);
			top: 50%;
			left: 0;
			margin: -160px 0 0 10px;
		}
		.img-img {
			display: block;
			position: absolute;
			width: 50%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
		}
	}

	@media only screen and (max-width: 1600px) {
		#agenda {
			height: calc(100% - 540px) !important;
		}
	}

	@media only screen and (max-width: 1440px) {
		#agenda {
			height: calc(100% - 600px) !important;
		}
	}

	@media only screen and (max-width: 1280px) {
		#agenda {
			height: calc(100% - 600px) !important;
		}
	}

	@media only screen and (max-width: 1160px) {
		.single {
			width: calc(100% - 20px);
			max-width: 1120px;
			margin: 0 auto 0 10px;
		}
		.single .middle {
			width: calc(100% - 450px);
			margin: 0 20px 10px 20px;
			float: left;
		}
		.faculty-item p {
			font-size: 13px !important;
		}
	}

	@media only screen and (max-width: 1100px) {
		#header-social #header-share {
			margin-left: 10px;
		}
		#header-social #header-language {
			margin-right: 10px;
		}
	}

	@media only screen and (max-width: 1060px) {
		.footer-inner {
			margin: 0 10px 0 10px;
		}
		.jumbotron-transparent h1 {
			font-size: 300%;
		}
	}

	@media only screen and (max-width: 1024px) {
		#con-title {
			font-size: 18px !important;
		}
		#agenda {
			height: calc(100% - 555px) !important;
		}
		.jumbotron-container {
			width: 100% !important;
			height: auto !important;
		}
		#home-section {
			height: auto !important;
		}
	}

	@media only screen and (max-width: 900px) {
		.c-text {
			font-size: 14px;
		}
		.c-text-sub {
			font-size: 20px;
			line-height: 20px;
		}
	}

	@media only screen and (max-width: 857px) {
		.footer-box-right {
			/*display: none;*/
		}
	}

	@media only screen and (max-width: 824px) {
		.logo-blue {
			width: 330px;
		}
		.img-text {
			bottom: 10px;
			right: 20px;
		}
		.single .left {
			display: none;
		}
		.single .middle {
			width: 100%;
			margin: 0;
			float: left;
		}
	}

	@media only screen and (max-width: 800px) {
		.c-text {
			font-size: 12px;
		}
		.c-text-sub {
			font-size: 16px;
			line-height: 16px;
		}
	}

	@media only screen and (max-width: 797px) {
		.footer-inner .middle {
			/*display: none;*/
		}
		.footer-box-right {
			/*display: block;*/
		}
		.footer-small {
			/*display: block !important;*/
		}
		.footer-big {
			/*display: none;*/
		}
		.dayton-title {
			font-size: 16px;
		}
		.dayton-title span {
			font-size: 12px;
		}
		.dayton-title span {
			font-size: 12px;
		}
		.dayton-more {
			bottom: 60px;
		}
		.faculty-item {
			margin-bottom: 35px;
		}
	}

	@media only screen and (max-width: 600px) {
		.download-brochure {
			width: auto;
			padding: 8px 8px 8px 8px;
		}
		.c-text {
			font-size: 10px;
			right: 10px;
			bottom: 10px;
			line-height: 12px;
		}
		.c-text-sub {
			font-size: 10px;
			line-height: 12px;
		}
		.page-title-content,
		.header-blue-content {
			display: none;
		}
		.footer-content {
			height: 175px;
		}
		#main-content-wraper-single {
			height: 100%;
		}
		.wsmenucontainer {
			background-color: #143960;
		}
		.mobile-nav-header {
			display: block !important;
		}
		#navToggle span {
			top: 23px
		}
		.about-image {
			height: 200px !important;
		}
		.faculty-item img {
			width: 300px;
			margin-bottom: 20px;
		}
		.alumni-container {
			margin-bottom: 25px !important;
		}
	}

	@media only screen and (max-width: 500px) {
		.download-brochure {
			top: 165px;
			width: auto;
			padding: 8px 8px 8px 8px;
		}
		.home-online {
			top: 165px;
		}
		#header-social #header-share {
			width: 100%;
			height: 20px;
			float: none;
		}
		#header-social #header-follow {
			width: 100%;
			height: 20px;
			margin-left: 10px;
			float: none;
		}
		#header-social #header-language {
			position: absolute;
			top: 15px;
			right: 10px;
			float: none;
		}
		.animated-arrow {
			top: 48px;
		}
		#main-content {
			top: 90px;
		}
		.logo-blue {
			top: 104px;
		}
		.c-content {
			position: absolute;
			width: calc(100% - 20px);
			top: 50%;
			bottom: 30px;
			left: 0;
			margin: -50px 0 0 10px;
		}
		.cen-content {
			position: absolute;
			width: calc(100% - 20px);
			top: 50%;
			left: 0;
			margin: -50px 0 0 10px;
		}
		#news_tabs .news_tab {
			font-size: 11px;
			padding: 5px;
		}
		.footer-box-right {
			/*display: none;*/
		}
		.faculty-item p {
			font-size: 16px;
		}
	}

	@media only screen and (max-width: 400px) {
		#news_tabs .news_tab {
			font-size: 10px;
			padding: 4px;
		}
		.card-read-more a {
			padding: 10px 0 10px 0 !important;
		}
	}
	/* Denis - 10 years */

	.denis-years {
		position: absolute;
		bottom: 80px;
		left: 100px;
		width: auto;
		height: auto;
		font-size: 28px;
		color: #FFF;
	}

	.denis-years img {
		width: 400px;
		height: auto;
	}

	.denis-more {
		position: absolute;
		bottom: 100px;
		left: 380px;
		background-color: #ff0000;
		padding: 10px;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	@media only screen and (max-width: 700px) {
		.denis-years {
			bottom: 0;
			left: 30px;
			right: 30px;
		}
		.denis-years img {
			width: 100%;
			height: auto;
		}
		.denis-more {
			bottom: 35px;
			left: 200px;
		}
	}
	/* 10 years */

	.ten-years {
		background-image: url(../modules/docs/gallery/home/greetings-card.jpg);
		background-repeat: no-repeat;
		background-color: #33456d;
		background-size: contain;
		background-position: center;
	}

	@media only screen and (max-width: 500px) {
		.ten-years {
			background-image: url(../modules/docs/gallery/home/greetings-card-1.jpg);
			background-size: cover;
		}
	}
	/* Anur */

	span.anur {
		font-size: 55px;
	}

	@media only screen and (max-width: 386px) {
		span.anur {
			font-size: 35px;
		}
		.dayton-more {
			bottom: 35px;
		}
	}
	/* Competition */

	.compentition {
		position: absolute;
		bottom: 0px;
		left: 0px;
		/*margin-top: -464px;*/
		/*width: 778px;*/
		height: auto;
	}

	.compentition img {
		width: auto;
		height: auto;
	}

	.compentition-button {
		position: absolute;
		bottom: 90px;
		left: 14%;
		background-color: #ff0000;
		padding: 10px;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	@media only screen and (max-width: 1400px) {
		.compentition img {
			width: 70%;
			height: auto;
		}
	}

	@media only screen and (max-width: 1280px) {
		.compentition img {
			width: 76%;
			height: auto;
		}
	}
	/* 10 reasons */

	.reasons {
		position: absolute;
		bottom: -5px;
		right: -5px;
		height: auto;
	}

	.reasons img {
		width: auto;
		height: auto;
	}

	.reasons-button {
		position: absolute;
		bottom: 90px;
		right: 14%;
		background-color: #ff0000;
		padding: 10px;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	@media only screen and (max-width: 1400px) {
		.reasons img {
			width: 70%;
			height: auto;
		}
	}

	@media only screen and (max-width: 1280px) {
		.reasons img {
			width: 76%;
			height: auto;
		}
	}

	.general {
		position: absolute;
		bottom: 0px;
		left: 0px;
		/*margin-top: -464px;*/
		/*width: 778px;*/
		height: auto;
	}

	.general img {
		position: absolute;
		width: auto;
		height: auto;
		bottom: 100px;
		left: 37px;
	}

	.general-button {
		position: absolute;
		bottom: 50px;
		left: 50px;
		background-color: #ff0000;
		padding: 10px;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		z-index: 99991;
	}

	@media only screen and (max-width: 1400px) {
		.general img {
			width: 70%;
			height: auto;
		}
	}

	@media only screen and (max-width: 1280px) {
		.general img {
			width: 76%;
			height: auto;
		}
	}

	.info-panel {
		margin-top: 100px;
	}

	.jumbotron-transparent {
		background: rgba(17, 48, 83, 0.6)!important;
		margin-top: 100px;
		color: white;
	}

	#top-menu {
		display: inline-block;
		float: right;
	}
	/*Bootstrap cards*/
	/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);*/

	.wrapper {
		display: table;
		height: 100%;
		width: 100%;
	}

	.container-fostrap {
		padding: 1em;
		text-align: center;
		vertical-align: middle;
		margin: 0px auto;
	}

	.fostrap-logo {
		width: 100px;
		margin-bottom: 15px
	}

	h1.heading {
		color: #fff;
		font-size: 1.15em;
		font-weight: 900;
		margin: 0 0 0.5em;
		color: #505050;
	}

	@media (min-width: 450px) {
		h1.heading {
			font-size: 3.55em;
		}
	}

	@media (min-width: 760px) {
		h1.heading {
			font-size: 3.05em;
		}
	}

	@media (min-width: 900px) {
		h1.heading {
			font-size: 3.25em;
			margin: 0 0 0.3em;
		}
	}

	.card {
		display: block;
		margin-bottom: 20px;
		line-height: 1.42857143;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		transition: box-shadow .25s;
	}

	.card:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.card-content b {
		color: darkred;
	}

	.img-card {
		width: 100%;
		height: 200px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		display: block;
		overflow: hidden;
	}

	.img-card img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		transition: all .25s ease;
	}

	.card-content {
		padding: 15px;
		text-align: left;
	}

	.card-title {
		margin-top: 0px;
		font-weight: 700;
		font-size: 1.65em;
	}

	.card-title a {
		color: #000;
		text-decoration: none !important;
	}

	.card-read-more {
		border-top: 1px solid #D4D4D4;
	}

	.card-read-more a {
		text-decoration: none !important;
		padding: 10px;
		font-weight: 500;
		text-transform: uppercase
	}

	.read-more-container {
		background-color: #113053;
		color: white;
	}

	#navToggle {
		margin-left: 0;
		padding-left: 15px;
		background-color: white;
		width: 100%;
		text-decoration: none;
		box-shadow: 0px 3px 3px rgba(15, 76, 123, 0.5);
	}

	#navToggle h5 {
		/*padding-left:40px;*/
		text-decoration: none;
	}

	.wsmenuexpandermain .menuopen {
		margin-top: 0 !important;
	}

	.jumbotron-container {
		width: 80%;
		height: 80vh;
		display: flex;
		align-items: center;
	}

	.main-section {
		background-color: #FFF;
		padding-bottom: 50px;
	}

	.card-read-more .btn-link {
		color: white;
	}

	.card-read-more .btn-link:active,
	.card-read-more .btn-link:focus,
	.card-read-more .btn-link:hover {
		color: #E1F3F8;
	}

	.main-section .title {
		padding: 60px 0 40px 0;
		font-size: 2.3em;
		text-align: center;
		font-weight: 100;
	}

	.main-section .title span {
		border-bottom: 2px solid darkred;
	}

	.main-section .single_content p {
		font-size: 125%;
	}

	.about-image {
		margin: 0 auto 25px auto;
		height: 390px;
	}

	#degrees-section {
		background: #E7EAEB url(../images/aubih-bg.png) no-repeat center;
	}

	.main-section .container {
		margin-top: 30px;
	}

	.faculty-item {
		background-color: #f8f9fa;
		padding: 30px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
	}

	.faculty-item .name {
		font-size: 22px;
		margin-bottom: 10px;
	}

	.faculty-item .role {
		font-size: 16px;
		font-style: italic;
		margin-bottom: 25px;
		color: #2F4775;
	}

	.faculty-item p {
		font-size: 17px;
	}

	#faculty-section {
		margin-bottom: 40px;
	}

	#faculty-section .btn-primary {
		background-color: #286090;
	}

	#apply-section {
		background: #E7EAEB url(../images/apply-bg.jpg) no-repeat center;
		padding-top: 60px;
		padding-bottom: 100px;
	}

	.apply-form {
		background: rgba(17, 48, 83, 0.7)!important;
		padding: 40px;
		border-radius: 2%;
	}

	.apply-form #bt-submit {
		background: #DF1101;
		font-size: 20px;
		border-color: darkred;
	}

	.apply-form .title {
		color: white;
	}

	.short-menu ul li:hover {
		background-color: #E1F3F8;
	}

	.short-menu ul li a {
		text-decoration: none;
	}

	.alumni-container {
		width: 250px;
		margin: 0 auto;
		border-bottom: 1px solid #B4B4B4;
		box-shadow: 0 2px 0px 0 rgba(53, 77, 101, 0.10), 0 5px 10px 0 rgba(53, 77, 101, 0.08);
	}

	#alumni-list-section .subtitle {
		font-style: italic;
		text-align: center;
		font-weight: 100;
		font-size: 24px;
		margin-bottom: 20px;
	}

	.alumni-image {
		height: 250px;
		object-fit: cover;
		overflow: hidden;
		border: 1px solid #B4B4B4;
		border-bottom: 5px solid #354D65;
		border-top-right-radius: 10%;
		border-top-left-radius: 10%;
	}

	.alumni-container .info {
		padding: 15px 25px;
		border-left: 1px solid #B4B4B4;
		border-right: 1px solid #B4B4B4;
	}

	.alumni-container .info .name {
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #354D65;
		font-size: 16px;
		font-weight: bold;
		/*text-shadow: */
	}

	.alumni-container .info .employer {
		font-size: 16px;
		color: red;
		font-style: italic;
		font-weight: 500;
	}

	.alumni-container .info p {
		margin-bottom: 5px;
	}

	.alumni-container .about p {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.alumni-container .about a {
		font-size: 13px;
	}

	.alumni-container .about {
		padding-top: 10px;
	}

	#alumni-list-section .title span {
		border-bottom: 2px solid #112E50;
	}

	#alumni-list-section .alumni-about {
		padding: 0 20px 50px 20px;
		font-size: 14px;
	}

	#alumni-list-small-section {
		background: #F8F8FA url(../images/aubih-bg.png) no-repeat center;
	}

	.alumni-container-small {
		margin: 0 auto;
		padding: 15px;
	}

	.alumni-container-small .alumni-image-small {
		width: 125px;
		height: 125px;
		object-fit: cover;
		overflow: hidden;
		margin: 0 auto;
		border: 2px solid #354D65;
		border-radius: 100%;
	}

	.alumni-container-small .name {
		font-size: 14px;
		padding-top: 10px;
		color: #354D65;
	}

	.alumni-container-small .company {
		color: darkred;
		font-style: italic;
	}

	#alumni-form .application {
		padding-top: 60px;
	}

	.make-link-grey {
		text-decoration: none;
		color: #424242;
	}

	#alumni-form input {
		border-radius: 0;
	}

	#alumni-form .form-control {
		border-radius: 0;
	}

	#core-courses-section {
		background: #FFFBFF url(../images/aubih-bg.png) no-repeat center;
		border-bottom: 1px solid #e1e1e1;
	}

	#core-courses-section .img-card {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	#core-courses-section .card {
		border-radius: 8px;
	}

	#core-courses-section .card .card-title {
		font-size: 1.40em;
	}

	#core-courses-section .img-card img {
		height: 150px;
	}

	#core-courses-section .img-card {
		height: 150px;
	}

	#courses-list-section .single_subtitle {
		color: #0F4C7B;
	}

	#courses-list-section b {
		color: #0F4C7B;
	}